.rdt_Table {
}
.rdt_TableRow {
}

.rdt_TableCol {
  background-color: #464E54; /*#4f5d73;*/
  color: white;
}

.rdt_TableCol_Sortable {
}
.rdt_TableCell {
  background-color: white;
}
.rdt_TableHeader {
}
.rdt_TableFooter {
}
.rdt_TableHead {
}
.rdt_TableHeadRow {
}
.rdt_TableBody {
}
.rdt_ExpanderRow {
}
